.footer {
    border-top: 1px solid #DFDFDF;
    padding: 55px 0 65px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 41px;

    img {
        width: 213px;
        background-size: cover;
    }
}

.footer__copy {
    margin-bottom: 35px;

    p {
        color: #8C9296;
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
    }
}
.footer__copy.mobile{
    display: none;
}

.footer__social {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    li+li {
        margin-left: 11px;
    }

    img {

        width: 30px;
        height: 30px;
        background-size: cover;
    }
}
.footer__social.mobile{
    display: none;
}

.footer__descr {
    width: 236px;
    margin-bottom: 69px;
    color: $lightgrey;

    p {
        color: #8C9296;
    }
}

.footer__menu {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li+li {
            margin-left: 30px;
        }

        a {
            color: $lightgrey;
            transition: .4s;

            &:hover {
                color: $mainblue;
            }
        }
    }
}

.footer__buttons {
    a {
        display: flex;
        width: 229px;

        &+a {
            margin-top: 20px;
        }
    }
}


//  --- === ADAPTIVE === --- //

@media (max-width: 991.8px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__col {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer__desctope {
        display: none;
    }

    .footer__descr {
        max-width: 400px;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__logo {
        margin-bottom: 20px;
    }
    .footer__copy.mobile{
        display: block;
        margin: 0;
    }
    .footer__social.mobile{
        margin: 30px 0;
        display: block;
    }

}

@media (max-width: 575.8px) {
    .footer {
        padding: 50px 0 40px;
    }
    .footer__logo{
        text-align: center;
    }
    .footer__menu ul {
       justify-content: center;
    }
    .footer__social ul{
        justify-content: center;
    }
    .footer__copy p{
        text-align: center;
    }
    .footer__descr p {
        text-align: center;
    }
}