.footer {
    border-top: 1px solid #DFDFDF;
    padding: 55px 0 65px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 35px;

    img {
        width: 156px;
        background-size: cover;
    }
}

.footer__copy {
    margin-bottom: 35px;

    p {
        color: #8C9296;
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
    }
}

.footer__copy.mobile {
    display: none;
}

.footer__social {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    li+li {
        margin-left: 11px;
    }

    img {
        width: 30px;
        height: 30px;
        background-size: cover;
        transition: 0.3s;
    }

    a {

        &:hover {
            img {
                filter: drop-shadow(0 0 6px #0850AC);
            }
        }
    }
}

.footer__social.mobile {
    display: none;
}

.footer__descr {
    width: 236px;
    margin-bottom: 69px;
    color: $lightgrey;

    p {
        color: #8C9296;
    }
}

.footer__menu {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li+li {
            margin-left: 30px;
        }

        a {
            color: $lightgrey;
            transition: .4s;

            &:hover {
                color: $mainblue;
            }
        }
    }
}

.footer__buttons {
    a {
        display: flex;
        width: 229px;

        &+a {
            margin-top: 20px;
        }
    }
}

.footer__sign {
    padding-left: 24px;
    position: relative;
    color: #8C9296;

    &::after {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -1px;
        background: url('../img/general/header-ic1.svg') no-repeat center / 100%;
    }
}

//  --- === ADAPTIVE === --- //
@media(max-width:1199.8px) {
    .footer__logo,
    .footer__copy {
        margin-bottom: 25px;
    }
}

@media (max-width: 991.8px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__col {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer__desctope {
        display: none;
    }

    .footer__descr {
        max-width: 400px;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__logo {
        margin-bottom: 20px;
    }

    .footer__copy.mobile {
        display: block;
        margin: 0;
    }

    .footer__social.mobile {
        margin: 30px 0;
        display: block;
    }

    .footer__inner {
        text-align: center;
    }

    .footer__descr {
        margin: 0 auto 40px;
    }

    .footer__menu {
        text-align: center;

        ul {
            display: block;
            margin-bottom: 20px;

            li {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .footer__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__buttons a+a {
        margin-top: 0;
    }

    .footer__buttons a {
        margin: 0 20px;
    }

    .footer__social ul {
        justify-content: center;
    }

}

@media (max-width: 575.8px) {
    .footer {
        padding: 50px 0 40px;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__menu ul {
        justify-content: center;
    }

    .footer__social ul {
        justify-content: center;
    }

    .footer__copy p {
        text-align: center;
    }

    .footer__descr p {
        text-align: center;
    }

    .footer__logo {
        margin-bottom: 0;

        img {
            width: 150px;
        }
    }

    .footer__descr {
        margin-bottom: 25px;
    }

    .footer__menu ul {
        margin-bottom: 0;
    }

    .footer__buttons {
        justify-content: space-between;

        a {
            height: 46px;
            width: 100%;
            max-width: calc(50% - 10px);
            margin: 0;
        }
    }


}