.referal-topsection {
    padding: 120px 0 0 0;

    .title {
        font-family: "Prompt", sans-serif;
        font-size: 44px;
        text-align: center;
        font-weight: 500;
        color: #383C43;
        line-height: 110%;
        margin-bottom: 55px;
    }

    .location {
        text-align: center;

        img {
            margin-right: 6px;
            vertical-align: middle;
            width: 36px;
        }
    }

    .textwrap {
        padding-bottom: 35px;
        border-bottom: 1px solid #DFDFDF;
    }
}

.referal-body {
    padding-bottom: 120px;
    padding-top: 46px;

    p {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #383C43;
        margin-bottom: 50px;
    }

    .referal-btns {
        text-align: center;
        margin-bottom: 55px;

        .bluebtn {
            margin-right: 20px;
            font-size: 18px;

            svg {
                width: 18px;
                height: 18px;
            }
        }

        .lightblue-btn {
            padding: 12px 40px;
            height: 54px;
            display: inline-flex;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 500;
            line-height: 110%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: rgba(#0850AC, 0.15);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            color: #0850AC;
            border: 1px solid #0850AC;

            svg {
                margin-right: 6px;
                width: 20px;
                height: 20px;

                path {
                    transition: 0.3s;
                }
            }

            &:hover {
                background: #0850AC;
                color: #fff;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.mapwrap {
    position: relative;
    height: 530px;
    border-radius: 20px;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:1599.8px) {
    .referal-topsection .title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .referal-topsection {
        padding-top: 80px;
    }

    .referal-topsection .textwrap {
        padding-bottom: 20px;
    }

    .referal-body {
        padding-bottom: 80px;
        padding-top: 30px;
    }

    .referal-body p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .referal-body .referal-btns {
        margin-bottom: 40px;
    }




}

@media(max-width:991.8px) {
    .mapwrap {
        height: 400px;
    }
}

@media(max-width:767.8px) {
    .referal-btns {
        .bluebtn, .lightblue-btn {
            width: 100%;
        }

        .bluebtn {
            margin-bottom: 20px;
        }
    }
}

@media(max-width:575.8px) {
    .referal-topsection .title {
        font-size: 28px;
    }

    .referal-topsection {
        padding-top: 50px;
    }

    .referal-body p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .referal-body .referal-btns .bluebtn,
    .referal-body .referal-btns .lightblue-btn {
        font-size: 16px;
    }

    .bluebtn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .referal-body {
        padding-bottom: 50px;
    }

}