.searchressect {
    padding: 25px 0 120px 0;
}

.breadcrumbsbox {
    margin-bottom: 40px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-right: 30px;
            font-size: 15px;
            font-weight: 500;
            color: rgba(8, 80, 172, 1);

            &::after {
                content: '';
                display: inline-block;
                background: url('../img/general/breadarr.svg') no-repeat center/ 100%;
                width: 11px;
                height: 15px;
                position: absolute;
                right: -20px;
                top: 1px;
            }

            &:last-child {
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            a {
                color: rgba(154, 160, 164, 1);

                &:hover {
                    color: rgba(8, 80, 172, 1);
                }
            }
        }
    }
}

.searchitem {
    box-shadow: 0 0 17px rgba(#000, 0.09);
    border-radius: 20px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.searchitem-slider {
    .imgwrap {
        height: 180px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 20px 20px 0 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;

        &::after {
            font-size: 24px;
        }
    }

    .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.7;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
    }
}

.searchitem__descr {
    background: #fff;
    padding: 20px;

    .price {
        margin-bottom: 10px;
        color: rgba(8, 80, 172, 1);
        font-size: 19px;
        font-weight: 600;
        line-height: 120%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .address {
        margin: 0;
        font-size: 14px;
        color: #4C5057;
        font-weight: 500;
        line-height: 120%;
        padding-left: 21px;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &::after {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url('../img/searchresult/picblue.svg') no-repeat center / 100%;
            position: absolute;
            left: 0;
            top: 1px;
        }
    }
}

.searchpagination {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;

            a {
                color: #3B454C;
                transition: 0.3s;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;

                &:hover {
                    color: rgba(8, 80, 172, 1);
                }
            }

            &.active {
                a {
                    background: rgba(8, 80, 172, 1);
                    color: #fff;
                }
            }
        }
    }

    .gotopage {
        width: 83px;
        
        background: #fff;
       
        position: relative;

        input {
            width: 100%;
            border: 1px solid #E6E8EC;
            height: 39px;
            padding-left: 8px;
            color: #3B454C;
            font-size: 16px;
            padding-right: 35px;
        }

        span {
            position: absolute;
            top: -8px;
            left: 4px;
            display: inline-block;
            background: #fff;
            color: #3B454C;
            font-size: 11px;
            font-weight: 500;
        }

        button {
            width: 35px;
            height: 39px;
            background: transparent;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
        }
    }
}

.searchcontent {
    position: relative;
}

.mapwrapper {
    position: absolute;
    left: 0;
    top: 0;
    background: #E6E8EC;
    width: calc(50% - 10px);
    height: 100%;
}































